html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 70%;
  font-family: Tahoma, sans-serif;
  background: #e5edf4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: navy;
}

label {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
}

form, button, p {
  margin: 0;
  padding: 0;
}

button.reset {
  cursor: pointer;
  border: none;
  background: transparent;
  vertical-align: top;
}

button img {
  vertical-align: text-bottom;
}

#notifier {
  background: -o-skin("Viewbar Skin");
  padding: 6px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

#notifier #close_notifier {
  float: right;
  padding: 0;
  margin: 0 3px;
  border: none;
  background: -o-skin("Speed Dial Thumbnail Close Button Skin");
  width: -o-skin;
  height: -o-skin;
  cursor: pointer;
}

#notifier #msg > *  {
  color: -o-skin("Viewbar Skin");
  text-shadow: #555 0px 0px 2px;
  font-weight: bold;
  padding: 3px;
}

#main_container {
  position: relative;
}

#create_script {
  position: absolute;
  right: 0;
  margin: .4em .3em .3em .3em;
  padding: 0 2px 0 0;
  font-size: 14px;
  cursor: pointer;
  opacity: .8;
  color: #555;
}

#create_script:hover {
  opacity: 1;
}

#create_script img {
  display: inline-block;
  vertical-align: bottom;
  margin: -3px 0;
  content: -o-skin("Add/Remove Panels");
}

#quickfind_container {
  padding: .5em 65px 0 .5em;
}

#quickfind {
  padding-left: 22px;
  width: 100%;
  height: 22px;
  background: #fff url("search_default.png") no-repeat 2px 2px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  border-radius: 5px;
}

#toolbar_container {
  padding: .2em .5em;
  margin: .5em;
}

.button {
  display: inline-block;
  position: relative;
  background: #eee;
  padding: 1px 2px 1px 2px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #aaa;
}

.button ul {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 2px 8px #666;
  border-radius: 3px;
}

.button li {
  overflow: visible;
  white-space: nowrap;
}

.button ul li a {
  cursor: pointer;
  display: block;
  color: #000;
  padding: 2px 3px;
}

.button ul li a:hover {
  color: navy;
  text-decoration: underline;
}

.button:hover ul {
  display: block;
}

#changes {
  display: none;
  padding: .5em;
  margin: .5em;
  cursor: pointer;
  background: -o-skin("Dialog Page Skin");
}

#scripts_list  {
  padding: 1em;
  margin: .5em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #555;
}

#scripts_list form {
  padding: 3px;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
}

#scripts_list form:hover
{
  color: #00a;
  padding: 2px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#scripts_list .desc {
  display: none;
  color: -o-skin("Panel Treeview Skin.disabled");
  padding-left: 2em;
}

#scripts_list .delete {
  float: right;
}

#scripts_list .delete img {
  content: -o-skin("Mail Trash");
}

#scripts_list .toggle img {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAABGdBTUEAALGPC%2FxhBQAAAAlwSFlzAAALEAAACxABrSO9dQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMU7nOPkAAADXSURBVDhPzZJdCoQwDIR99UY9W44hmCKIiCAFb%2BTPGRT0AG4m2EVspU8LW%2FhgmkyGQpNlf3mGYTACCXwBbZKPFVP%2BGPQB96D8Ncg5RwInoGhA3%2FdGYHCeJx%2FHoRpAo%2Bbv8AYhXdeRwGDfdx1YlkWBRs334Q0C2rblO%2FM86yCAfvaDgKZp%2BM40Td8A6Gc%2FCKjrmgQG27bp8DiOCjRqvg9vEFBVlREYYGBdV9UAGjV%2Fhzf6E9ZaEjhB%2FBuRWJZlLpDAL6D3vkj%2BWUVRGIEEvoBOr3Jy139h%2BABGiUOSPP25xQAAAABJRU5ErkJggg%3D%3D");
}

#scripts_list .toggle img.disabled {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1%2B%2FAAAABV0RVh0Q3JlYXRpb24gVGltZQAyOS82LzA55Xg1zgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAGASURBVDiNpZPLK0RRHMc%2Fxz3FxmNBSEosBkVXSpQyFqRYTB4Lq2ujbCby%2FAuUZDESCyuWUwwp2ciwF3cjbMjWCoW45xoLznXnwcL86tSv7%2B%2F7e%2F%2BOSCQSZCM5WXkDUitCCA%2Bc3c0dAcYB8xuygeXF0NuG5ujKhacIwexubhEQ9zmmig10LobeHrSf9FuVMv5y5tsWB5o04M0gHC2wHFeajivJ9KzWKHVlIRxXmuFogZU2A6WMid%2FSdgbGaKzoI08WcXZ3ADABbCZVoFxpKleiXElNcQdaLy806W2Y4%2BX9kdX4iMa9Nr0AjjJwlEFL1TBT3TsMNc%2FjKAOrbQUQLBwM8PT67PEytCBtwDy5ihEobaerfhSzsoeS%2FErWTya5vb%2F20%2B30AK4RATYA1o5m%2BEgIOgKDbJ1GiF%2FGgJ%2BsQEQrSXcwsFJ9jm%2BNwdp%2Bjq9iqTO1t8M3TZnvwJVB4FgHObzYS6XYQNAPJFWgpXepzuJrVf5TjuxPX25qTtop%2F1ey%2Fo2ftG6clPyKKlYAAAAASUVORK5CYII%3D");
}

#scripts_list .folder {
  width: 100%;
  text-align: left;
}

#scripts_list .folder img {
  content: -o-skin("Folder");
}

#scripts_list .icons_container {
 position: absolute;
 right: 3px;
}

#scripts_list .edit {
  opacity: .8;
}

#scripts_list .edit:hover {
  opacity: 1;
}

#scripts_list .edit img {
  content: -o-skin("Menu Widgets");
}

#scripts_list .shareicon {
  display: none;
  background: -o-skin("Dialog Page Skin");
  padding: 5px 1px 0px 1px;
}

#scripts_list .shareicon img {
  content: url(share.png);
}

#scripts_list .shared .shareicon {
  display: inline;
}

.script_infobox {
  color: #333;
  display: inline-block;
  margin: 1em 0;
  font-size: smaller;
}

.script_infobox p {
  overflow-x: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}

.script_infobox p b {
  display: inline-block;
  min-width: 5em;
}

#scripts_list .edittxt img {
  content: -o-skin("Menu Edit");
}

#scripts_list .share img {
  content: url(share.png);
}

#settings_dialog {
  position: fixed;
  opacity: .95;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: .5em;
  box-sizing: border-box;
}

#settings_header, #edit_header {
  padding: 1em;
  box-sizing: border-box;
  background: -o-skin("Tab Button Skin");
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
}

#settings_title, #edit_title {
  font-size: 1.6em;
}

#close_settings img, #close_edit img {
  content: -o-skin("Back");
}

#settings_container {
  padding: 1em;
  box-sizing: border-box;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #555;
}

#settings {
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  -o-text-overflow: ellipsis;
}

#settings ul.indent1 { padding-left: 1em; }
#settings ul.indent2 { padding-left: 2em; }
#settings ul.indent3 { padding-left: 3em; }

#settings li {
  display: inline-block;
  margin: 0 1px;
  white-space: normal;
}

#settings input[type="text"] {
  width: 95%;
}

#settings .setting_elem {
  background: -o-skin("Push Button Skin");
  margin-left: 2px;
  padding: 0 4px;
}

#settings .setting_elem:hover {
  background: -o-skin("Push Default Button Skin");
}

#edit_dialog {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: .5em;
  box-sizing: border-box;
}

#edit_form {
  text-align: right;
}

#edit_form button[type="submit"] {
  font-size: 20px;
  font-weight: bold;
}

#edit_form button[type="submit"] img {
  content: -o-skin("Save");
}

#edit_form_content {
  padding: 1em;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #555;
  text-align: left;
}

#edit_filename {
  margin-bottom: 1em;
}

#edit_dialog textarea {
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  font-size: small;
}

#install_dialog {
  height: 200px;
  width: 500px;
  margin: 0 auto;
}

#install_dialog p {
  margin: 1em 0;
}

#install_dialog button {
  padding: 1px 8px;
}

#install_dialog h1 {
  font-size: 48px;
  color: #fff;
  text-shadow: #000 1px 1px 4px;
  font-family: Verdana, sans-serif;
  margin: 0;
}

#install_dialog h1 img {
  vertical-align: middle;
}

#install_dialog h1 span {
  display: block;
  font-size: 14px;
  text-align: right;
}

#install_dialog form {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 10px #555;
  padding: 1em;
  text-align: center;
}

#install_dialog form textarea {
  display: none;
}

#install_dialog form p {
  font-size: 16px;
}

#install_dialog table {
  width: 100%;
  border: none;
}

#install_dialog table td {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

#install_dialog table th {
  background: #000;
  color: #fff;
}

#install_dialog table td > div{
  overflow-x: auto;
}

.warning {
  background: #ffffe1;
  color: #000;
  border: 1px solid #c0c0c0;
  padding: 4px;
}

#footer {
  text-align: center;
  font-size: smaller;
}

@media all and (min-width: 640px) {
  #edit_msg a { display: none; }
}

/* We're in a panel - I guess */
@media all and (max-width: 400px) {
  a[rel="sidebar"] { display: none; }
}

