html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 70%;
  font-family: Tahoma, sans-serif;
  background: -o-skin("Dialog Skin");
}

a {
  text-decoration: none;
  color: navy;
}

label {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
}

form, button, p {
  margin: 0;
  padding: 0;
}

button.reset {
  cursor: pointer;
  border: none;
  background: transparent;
  vertical-align: top;
}

button img {
  vertical-align: text-bottom;
}

#notifier {
  background: -o-skin("Content Block Toolbar Skin");
  padding: 6px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

#notifier #close_notifier {
  float: right;
  padding: 0;
  margin: 0 3px;
  border: none;
  background: -o-skin("Speed Dial Thumbnail Close Button Skin");
  width: -o-skin;
  height: -o-skin;
  cursor: pointer;
}

#notifier #msg {
  padding: 3px;
}

#main_container {
  position: relative;
}

#create_script {
  background: -o-skin("Selector Button Skin.pressed");
  padding: .1em;
  position: absolute;
  white-space: nowrap;
  right: 0;
  margin: .2em 0;
  font-size: 20px;
  cursor: pointer;
  opacity: .8;
}

#create_script:hover {
  opacity: 1;
}

#create_script img {
  vertical-align: top;
  content: -o-skin("Add service");
}

#quickfind_container {
  padding: .5em .5em 0 .5em;
}

#quickfind {
  padding-left: 22px;
  width: 100%;
  height: 22px;
  background: #fff url(search_default.png) no-repeat 2px 2px;
  border: 1px solid #777;
  box-sizing: border-box;
}

#scripts_list  {
  padding: 1em;
  margin: .5em;
  background: -o-skin("Dialog Page Skin");
}

#scripts_list form {
  padding: 3px;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
}

#scripts_list form:hover
{
  color: #00a;
  background: -o-skin("Cycler Page Button Skin.hover");
}

#scripts_list .desc {
  display: none;
  color: -o-skin("Panel Treeview Skin.disabled");
  padding-left: 2em;
}

#scripts_list .delete {
  float: right;
}

#scripts_list .delete img {
  content: -o-skin("Trash");
}

#scripts_list .toggle img.disabled {
  content: -o-skin("Expand Enabled");
}

#scripts_list .toggle img {
  content: -o-skin("Expand Disabled");
}

#scripts_list .folder img {
  content: -o-skin("Folder");
}

#scripts_list .edit {
  position: absolute;
  right: 3px;
}

#scripts_list .edit img {
  content: -o-skin("Menu Widgets");
}

#scripts_list .edittxt img {
  content: -o-skin("Menu Edit");
}

.script_infobox {
  color: #333;
  display: inline-block;
  margin: 1em 0;
  font-size: smaller;
}

.script_infobox p {
  overflow-x: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
}

.script_infobox p b {
  display: inline-block;
  min-width: 5em;
}

#settings_dialog {
  position: fixed;
  opacity: .95;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: .5em;
  box-sizing: border-box;
}

#settings_header, #edit_header {
  padding: 1em;
  box-sizing: border-box;
  background: -o-skin("Tab Button Skin");
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
}

#settings_title, #edit_title {
  font-size: 1.6em;
}

#close_settings img, #close_edit img {
  content: -o-skin("Back");
}

#settings_container {
  padding: 1em;
  box-sizing: border-box;
  background: -o-skin("Dialog Page Skin");
}

#settings {
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  -o-text-overflow: ellipsis;
}

#settings ul.indent1 { padding-left: 1em; }
#settings ul.indent2 { padding-left: 2em; }
#settings ul.indent3 { padding-left: 3em; }

#settings input[type="text"] {
  width: 95%;
}

#settings li {
  display: inline-block;
  margin: 0 1px;
}

#settings .setting_elem {
  background: -o-skin("Push Button Skin");
  margin-left: 2px;
  padding: 0 4px;
}

#settings .setting_elem:hover {
  background: -o-skin("Push Default Button Skin");
}

#edit_dialog {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: .5em;
  box-sizing: border-box;
}

#edit_form {
  text-align: right;
}

#edit_form button[type="submit"] {
  font-size: 20px;
  font-weight: bold;
}

#edit_form button[type="submit"] img {
  content: -o-skin("Save");
}

#edit_form_content {
  padding: 1em;
  background: -o-skin("Dialog Page Skin");
  text-align: left;
}

#edit_filename {
  margin-bottom: 1em;
}

#edit_dialog textarea {
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  font-size: small;
}

#install_dialog {
  height: 200px;
  width: 500px;
  margin: 0 auto;
}

#install_dialog h1 {
  font-size: 48px;
  color: -o-skin("Dialog Skin");
  text-shadow: #000 1px 1px 4px;
  font-family: Verdana, sans-serif;
  margin: 0;
}

#install_dialog h1 img {
  vertical-align: middle;
}

#install_dialog h1 span {
  display: block;
  font-size: 14px;
  text-align: right;
}

#install_dialog form {
  background: -o-skin("Dialog Page Skin");
  padding: 1em;
  text-align: center;
}

#install_dialog form textarea {
  display: none;
}

#install_dialog form p {
  font-size: 16px;
}

#install_dialog form code {
  background: #FFA1A1;
}

#install_dialog table {
  width: 100%;
  border: none;
}

#install_dialog table td {
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

#install_dialog table th {
  background: #000;
  color: #fff;
}

#install_dialog table td > div{
  overflow-x: auto;
}

.warning {
  background: #ffffe1;
  color: #000;
  border: 1px solid #c0c0c0;
  padding: 4px;
}

#footer {
  text-align: center;
  font-size: smaller;
}

@media all and (min-width: 640px) {
  #edit_msg a { display: none; }
}

