<?xml version='1.0' encoding='UTF-8'?>
<widget id="ujs_manager_diz" network="private public">

  <widgetname>UJS Manager</widgetname>
  <description>Manager for user scripts</description>
  <servicepath>ujs_manager</servicepath>


  <icon height="64" width="64">public_html/favicon.64x64.png</icon>
  <icon height="48" width="48">public_html/favicon.48x48.png</icon>
  <icon height="32" width="32">public_html/favicon.32x32.png</icon>
  <icon height="16" width="16">public_html/favicon.16x16.png</icon>

   <feature name="http://xmlns.opera.com/webserver">
     <param name="servicepath" value="ujsmanage" />
     <param name="type" value="service" />
   </feature>

  <feature name="http://xmlns.opera.com/fileio">
    <param name="folderhint" value="home" />
  </feature>

  <author>
    <name>Rafał Chłodnicki</name>
    <organization />
    <email>rchl2k@gmail.com</email>
    <link />
  </author>

</widget>