<!DOCTYPE html>
<html>
<head>
  <title>UJS Manager remote page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.16x16.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="client_style.css">
</head>
<body>
  <div id="dialog">
    <h1><img src="favicon.48x48.png"> UJS Manager <span>shared scripts</span></h1>
    <form style="text-align: left;">
      <p data-keep-if="scripts.length">{{username}}'s shared scripts:
        <ul>
          <li data-list="scripts">
            <div data-remove-if="scripts[].isdirectory">
              <a href="?getshared={{scripts[].printpath}}" title="{{scripts[].prettyname}}">{{scripts[].printname}}</a>
            </div>
          </li>
        </ul>
      </p>
      <p data-remove-if="scripts.length">{{username}} does not share any scripts</p>
    </form>
    <div style="text-align: center;">
      {{footer}}
      {{msg}}
    </div>
  </div>
</body>
</html>