<!DOCTYPE html>
<html>
<head>
  <title>UJS Manager remote page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.16x16.png" type="image/x-icon">
  <style>
    #footer { font-size: small; }
  </style>
</head>
<body>
  {{msg}}

  <p data-keep-if="scripts.length">User Scripts shared by {{username}}:
    <ul>
      <li data-list="scripts">
        <div data-remove-if="scripts[].isdirectory">
          <a href="?getshared={{scripts[].printpath}}" title="{{scripts[].prettyname}}">{{scripts[].printname}}</a>
        </div>
      </li>
    </ul>
  </p>

  {{footer}}
</body>
</html>