<!DOCTYPE html>
<html>
<head>
  <title>UJS Manager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.16x16{{alt_icon}}.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="client_style.css">
  <script type="text/javascript" src="jquery-1.3.2.js"></script>
  <script type="text/javascript" src="jquery.scrollTo-1.4.2.js"></script>
  <script type="text/javascript" src="client_script.js"></script>
</head>
<body>
  <div id="notifier" data-keep-if="newversion">
    <button id="close_notifier" title="Do not bother me for next 3 days"></button>
    <span id="msg"><a href="http://unite.opera.com/application/401/"
    target="_blank">Click to download new version!</a></span></div>

  <div onclick="location.reload();" id="changes" class="notifier">Detected changes in directory. Click to reload.</div>

  <div id="main_container">
    <button id="create_script" class="" title="Create new script file"><img alt="new script">NEW</button>
    <div id="quickfind_container">
      <input type="text" id="quickfind" value="Quick find">
    </div>
    <div id="toolbar_container">
      <div class="button {{onoff}}" id="onoff" title="Click to enable/disable all scripts">
        <div><div>ON</div></div>
      </div>
      <!--<a href="http://my.opera.com/community/forums/forum.dml?id=120"
        target="_blank" style="float: right; text-decoration: underline;">Get User Scripts</a>-->
      <div class="button">View
        <ul>
          <li>
            <div class="button"><strong>Sort by:</strong>
              <ul class="sortby_{{sorting}}">
                <li><a class="s_name" href="?sorting=name"> name</a></li>
                <li><a class="s_status" href="?sorting=status" title="Sorts by enabled/disabled status"> status</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="button"><strong>Display:</strong>
              <ul class="display_{{display}}">
                <li><a class="d_name" href="?display=name" title="Displays name extracted from script header (if available)"> name</a></li>
                <li><a class="d_filename" href="?display=filename"> filename</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <a class="button" rel="sidebar" href="" title="UJS Manager">Add to panel</a>
      <!--<button onclick="ScriptUpdater.checkUpdate()">chckupd</button>-->
    </div>
    <div id="readonly" data-keep-if="readonly">This directory is not writable. Please select another directory and refresh page. Otherwise some features will not work correctly.</div>
    <ul id="scripts_list">
      <li data-list="scripts">
        <form name="{{scripts[].filepath}}" handler="toggleItem" class="{{scripts[].isshared}}">
          <input type="hidden" name="prettyname" value="{{scripts[].prettyname}}">
          <div class="icons_container">
            <a href="{{service_path}}" class="shareicon" target="_blank"
              title="This script is shared with other people"><img alt="sharing"></a>
            <button type="button" class="edit reset" data-keep-if="scripts[].hassettings"
              title="Edit script settings" handler="loadSettings"><img alt="Settings"></button>
          </div>
          <div data-keep-if="scripts[].isdirectory" handler="toggleItem">
            <button type="button" class="folder reset" handler="changeDirectory"><img alt="Dir">
              <span class="name">{{scripts[].prettyname}}</span></button>
          </div>
          <div data-remove-if="scripts[].isdirectory" handler="toggleItem">
            <button type="button" name="check" class="toggle reset" handler="toggleScript"
              title="Click to toggle"><img class="disabled" data-keep-if="scripts[].isenabled" alt="on"><img
              data-remove-if="scripts[].isenabled" alt="off"></button>
            <a href="#" target="_blank" type="button" class="update reset">update</a>
            <span class="name" title="{{scripts[].printname}}" handler="toggleItem">{{scripts[].prettyname}}</span>
            <div class="desc">
              <div class="script_infobox" data-keep-if="scripts[].header">
                <p data-list="scripts[].header">
                  <b data-keep-if="scripts[].header[].key">{{scripts[].header[].key}}</b>
                  <span title="{{scripts[].header[].value}}">{{scripts[].header[].value}}</span>
                </p>
              </div>
              <div>
                <button type="button" class="delete" handler="deleteScript" title="Delete"><img alt="delete"></button>
                <!--<button type="button" class="toggle" handler="toggleScript"><img class="disabled"
                  data-keep-if="scripts[].isenabled"><img data-remove-if="scripts[].isenabled">Toggle</button>-->
                <button type="button" class="edittxt" handler="editScriptText"><img>Edit</button>
                <button type="button" class="share" handler="shareScript" data-remove-if="scripts[].isdirectory"
                  title="Enable sharing of this script with other people"><img>Un/Share</button>
              </div>
            </div>
          </div>
        </form>
      </li>
      <div id="scripts_list_overlay" class="{{onoff}}"></div>
    </ul>
    <div id="footer">
      UJS Manager v{{version}} by <a href="http://my.opera.com/d.i.z./" target="_blank">Rafał Chłodnicki</a><br>
      <a href="?alt_icon">Change favicon look</a>
    </div>
  </div>

  <div id="settings_dialog">
    <div id="settings_header">
      <button id="close_settings" class="reset" title="Close script settings"><img alt="Close"></button>
      <span id="settings_title">[script_title]</span>
    </div>
    <div id="settings_container">
      <div id="settings"></div>
    </div>
  </div>

  <div id="edit_dialog">
    <div id="edit_header">
      <button id="close_edit" class="reset" title="Close edit dialog"><img alt="Close"></button>
      <span id="edit_title">[script_title]</span>
    </div>
    <form id="edit_form">
      <div id="edit_form_content">
        <div id="edit_filename">Name:
          <input name="filename"> (.js extension will be added automatically)</div>
        <textarea id="edit_field"></textarea>
        <span id="edit_msg"></span>
      </div>
      <button type="submit"><img>Save</button>
    </form>
  </div>
</body>
</html>