<!DOCTYPE html>
<html>
<head>
  <title>UJS Manager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.16x16.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="client_style.css">
  <script type="text/javascript" src="jquery-1.3.2.js"></script>
  <script type="text/javascript" src="client_script.js"></script>
</head>
<body>
  <div id="notifier" data-keep-if="newversion">
    <button id="close_notifier" title="Do not bother me for next 3 days"></button>
    <span id="msg"><a href="http://unite.opera.com/service/401/"
    target="_blank">UJS Manager update available!</a></span></div>
  <div id="quickfind_container">
    <input type="text" id="quickfind" value="Quick find">
  </div>
  <ul id="scripts_list">
    <li data-list="scripts">
      <form name="{{scripts[].filename}}">
        <button type="button" class="edit noskin" data-keep-if="scripts[].hassettings"
          title="Edit script settings"><img></button>
        <span data-keep-if="scripts[].isdirectory">
          <button type="button" class="folder"><img> {{scripts[].prettyname}}</button>
        </span>
        <span data-remove-if="scripts[].isdirectory">
          <button type="button" name="check" class="toggle noskin"><img class="disabled"
            data-keep-if="scripts[].isenabled"><img data-remove-if="scripts[].isenabled"></button>
          <span class="name">{{scripts[].prettyname}}</span>
          <div class="desc">
            <div class="script_infobox" data-keep-if="scripts[].header">
              <p data-list="scripts[].header">
                <b data-keep-if="scripts[].header[].key">{{scripts[].header[].key}}</b>
                <span title="{{scripts[].header[].value}}">{{scripts[].header[].value}}</span>
              </p>
            </div>
            <div>
              <button type="button" class="delete" title="Delete"><img></button>
              <button type="button" class="toggle"><img class="disabled"
                data-keep-if="scripts[].isenabled"><img data-remove-if="scripts[].isenabled">Toggle</button>
              <button type="button" class="edittxt"><img>Edit</button>
            </div>
          </div>
        </span>
      </form>
    </li>
  </ul>
  <div id="settings_container">
    <div id="settings_header">
      <span id="close_settings" onclick="closeScriptSettings()"
        title="Close script settings"></span>
      <span id="settings_title">[script_title]</span>
    </div>
    <div id="settings"></div>
  </div>
  <div id="edit_dialog">
    <form onsubmit="saveEditedSetting(this);return false;">
      <textarea id="edit_field"></textarea>
      <span id="edit_msg"></span>
      <button>Save</button>
      <button onclick="closeEditDialog();return false;">Cancel</button>
  </div>
  <div id="footer">
    UJS Manager v{{version}} by <a href="http://my.opera.com/d.i.z./">Rafał Chłodnicki</a>
  </div>
</body>
</html>