<!DOCTYPE html>
<html>
<head>
  <title>UJS Manager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="favicon.16x16.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="client_style.css">
  <script type="text/javascript" src="jquery-1.3.2.js"></script>
  <script type="text/javascript" src="client_script.js"></script>
</head>
<body>
  <div id="notifier" data-keep-if="newversion">
    <button id="close_notifier" title="Do not bother me for next 3 days"></button>
    <span id="msg"><a href="http://unite.opera.com/application/401/"
    target="_blank">UJS Manager update available!</a></span></div>
  <div id="main_container">
    <button id="create_script" class="reset" title="Create new script file"><img alt="new script">NEW</button>
    <div id="quickfind_container">
      <input type="text" id="quickfind" value="Quick find">
    </div>
    <div id="toolbar_container">
      <a href="http://my.opera.com/community/forums/forum.dml?id=120"
        target="_blank" style="float: right; text-decoration: underline;">Get User Scripts</a>
      <div id="sortorder" class="button">Sort by: {{sorting}}
        <ul class="menu">
          <li><a href="?sorting=name">name</a></li>
          <li><a href="?sorting=status">enabled status</a></li>
        </ul>
      </div>
      <div onclick="location.reload();" id="changes" style="display:none">Detected changes. Click to see them.</div>
    </div>
    <ul id="scripts_list">
      <li data-list="scripts">
        <form name="{{scripts[].filename}}">
          <button type="button" class="edit reset" data-keep-if="scripts[].hassettings"
            title="Edit script settings" handler="loadSettings"><img alt="Settings"></button>
          <div data-keep-if="scripts[].isdirectory" handler="toggleItem">
            <button type="button" class="folder reset" handler="changeDirectory"><img alt="Dir">
              <span class="name">{{scripts[].prettyname}}</span></button>
          </div>
          <div data-remove-if="scripts[].isdirectory" handler="toggleItem">
            <button type="button" name="check" class="toggle reset" handler="toggleScript"
              title="Click to toggle"><img class="disabled" data-keep-if="scripts[].isenabled" alt="on"><img
              data-remove-if="scripts[].isenabled" alt="off"></button>
            <span class="name" title="{{scripts[].prettyname}}" handler="toggleItem">{{scripts[].prettyname}}</span>
            <div class="desc">
              <div class="script_infobox" data-keep-if="scripts[].header">
                <p data-list="scripts[].header">
                  <b data-keep-if="scripts[].header[].key">{{scripts[].header[].key}}</b>
                  <span title="{{scripts[].header[].value}}">{{scripts[].header[].value}}</span>
                </p>
              </div>
              <div>
                <button type="button" class="delete" title="Delete" handler="deleteScript"><img alt="delete"></button>
                <button type="button" class="toggle" handler="toggleScript"><img class="disabled"
                  data-keep-if="scripts[].isenabled"><img data-remove-if="scripts[].isenabled">Toggle</button>
                <button type="button" class="edittxt" handler="editScriptText"><img>Edit</button>
              </div>
            </div>
          </div>
        </form>
      </li>
    </ul>
    <div id="footer">
      UJS Manager v{{version}} by <a href="http://my.opera.com/d.i.z./" target="_blank">Rafał Chłodnicki</a>
    </div>
  </div>
  <div id="settings_dialog">
    <div id="settings_header">
      <button id="close_settings" class="reset" title="Close script settings"><img alt="Close"></button>
      <span id="settings_title">[script_title]</span>
    </div>
    <div id="settings_container">
      <div id="settings"></div>
    </div>
  </div>
  <div id="edit_dialog">
    <div id="edit_header">
      <button id="close_edit" class="reset" title="Close edit dialog"><img alt="Close"></button>
      <span id="edit_title">[script_title]</span>
    </div>
    <form id="edit_form">
      <div id="edit_form_content">
        <div id="edit_filename">Name:
          <input name="filename"> (for example "My script")</div>
        <textarea id="edit_field"></textarea>
        <span id="edit_msg"></span>
      </div>
      <button type="submit"><img>Save</button>
    </form>
  </div>
</body>
</html>